<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>gopay</name>
	<displayName><![CDATA[GoPay]]></displayName>
	<version><![CDATA[1.9]]></version>
	<description><![CDATA[Plat&iacute; GoPay]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Opravdu chcete smazat platební modul GoPay?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>